:root {
  --md-source: #4285f4;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary10: #001a41;
  --md-ref-palette-primary20: #002e69;
  --md-ref-palette-primary25: #00397e;
  --md-ref-palette-primary30: #004494;
  --md-ref-palette-primary35: #004faa;
  --md-ref-palette-primary40: #005ac1;
  --md-ref-palette-primary50: #2b74e2;
  --md-ref-palette-primary60: #4d8efe;
  --md-ref-palette-primary70: #80aaff;
  --md-ref-palette-primary80: #adc6ff;
  --md-ref-palette-primary90: #d8e2ff;
  --md-ref-palette-primary95: #edf0ff;
  --md-ref-palette-primary98: #f9f9ff;
  --md-ref-palette-primary99: #fefbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary10: #141b2c;
  --md-ref-palette-secondary20: #293041;
  --md-ref-palette-secondary25: #343b4d;
  --md-ref-palette-secondary30: #3f4759;
  --md-ref-palette-secondary35: #4b5265;
  --md-ref-palette-secondary40: #575e71;
  --md-ref-palette-secondary50: #6f778b;
  --md-ref-palette-secondary60: #8991a5;
  --md-ref-palette-secondary70: #a3abc0;
  --md-ref-palette-secondary80: #bfc6dc;
  --md-ref-palette-secondary90: #dbe2f9;
  --md-ref-palette-secondary95: #edf0ff;
  --md-ref-palette-secondary98: #f9f9ff;
  --md-ref-palette-secondary99: #fefbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary10: #29132d;
  --md-ref-palette-tertiary20: #402843;
  --md-ref-palette-tertiary25: #4c334f;
  --md-ref-palette-tertiary30: #583e5b;
  --md-ref-palette-tertiary35: #644967;
  --md-ref-palette-tertiary40: #715573;
  --md-ref-palette-tertiary50: #8b6d8d;
  --md-ref-palette-tertiary60: #a687a8;
  --md-ref-palette-tertiary70: #c2a1c3;
  --md-ref-palette-tertiary80: #debcdf;
  --md-ref-palette-tertiary90: #fbd7fc;
  --md-ref-palette-tertiary95: #ffebfc;
  --md-ref-palette-tertiary98: #fff7fa;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral10: #1b1b1f;
  --md-ref-palette-neutral20: #303033;
  --md-ref-palette-neutral25: #3b3b3f;
  --md-ref-palette-neutral30: #46464a;
  --md-ref-palette-neutral35: #525256;
  --md-ref-palette-neutral40: #5e5e62;
  --md-ref-palette-neutral50: #77777a;
  --md-ref-palette-neutral60: #919094;
  --md-ref-palette-neutral70: #ababaf;
  --md-ref-palette-neutral80: #c7c6ca;
  --md-ref-palette-neutral90: #e3e2e6;
  --md-ref-palette-neutral95: #f2f0f4;
  --md-ref-palette-neutral98: #faf9fd;
  --md-ref-palette-neutral99: #fefbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant10: #191b22;
  --md-ref-palette-neutral-variant20: #2e3038;
  --md-ref-palette-neutral-variant25: #393b43;
  --md-ref-palette-neutral-variant30: #44474f;
  --md-ref-palette-neutral-variant35: #50525a;
  --md-ref-palette-neutral-variant40: #5c5e66;
  --md-ref-palette-neutral-variant50: #74777f;
  --md-ref-palette-neutral-variant60: #8e9099;
  --md-ref-palette-neutral-variant70: #a9abb4;
  --md-ref-palette-neutral-variant80: #c4c6d0;
  --md-ref-palette-neutral-variant90: #e1e2ec;
  --md-ref-palette-neutral-variant95: #eff0fa;
  --md-ref-palette-neutral-variant98: #f9f9ff;
  --md-ref-palette-neutral-variant99: #fefbff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #005ac1;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #d8e2ff;
  --md-sys-color-on-primary-container-light: #001a41;
  --md-sys-color-secondary-light: #575e71;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #dbe2f9;
  --md-sys-color-on-secondary-container-light: #141b2c;
  --md-sys-color-tertiary-light: #715573;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #fbd7fc;
  --md-sys-color-on-tertiary-container-light: #29132d;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fefbff;
  --md-sys-color-on-background-light: #1b1b1f;
  --md-sys-color-surface-light: #fefbff;
  --md-sys-color-on-surface-light: #1b1b1f;
  --md-sys-color-surface-variant-light: #e1e2ec;
  --md-sys-color-on-surface-variant-light: #44474f;
  --md-sys-color-outline-light: #74777f;
  --md-sys-color-inverse-on-surface-light: #f2f0f4;
  --md-sys-color-inverse-surface-light: #303033;
  --md-sys-color-inverse-primary-light: #adc6ff;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #005ac1;
  --md-sys-color-surface-tint-color-light: #005ac1;
  /* dark */
  --md-sys-color-primary-dark: #adc6ff;
  --md-sys-color-on-primary-dark: #002e69;
  --md-sys-color-primary-container-dark: #004494;
  --md-sys-color-on-primary-container-dark: #d8e2ff;
  --md-sys-color-secondary-dark: #bfc6dc;
  --md-sys-color-on-secondary-dark: #293041;
  --md-sys-color-secondary-container-dark: #3f4759;
  --md-sys-color-on-secondary-container-dark: #dbe2f9;
  --md-sys-color-tertiary-dark: #debcdf;
  --md-sys-color-on-tertiary-dark: #402843;
  --md-sys-color-tertiary-container-dark: #583e5b;
  --md-sys-color-on-tertiary-container-dark: #fbd7fc;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #1b1b1f;
  --md-sys-color-on-background-dark: #e3e2e6;
  --md-sys-color-surface-dark: #1b1b1f;
  --md-sys-color-on-surface-dark: #e3e2e6;
  --md-sys-color-surface-variant-dark: #44474f;
  --md-sys-color-on-surface-variant-dark: #c4c6d0;
  --md-sys-color-outline-dark: #8e9099;
  --md-sys-color-inverse-on-surface-dark: #1b1b1f;
  --md-sys-color-inverse-surface-dark: #e3e2e6;
  --md-sys-color-inverse-primary-dark: #005ac1;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #adc6ff;
  --md-sys-color-surface-tint-color-dark: #adc6ff;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-letter-spacing: 0.5px;
  --md-sys-typescale-label-small-line-height: 16px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-letter-spacing: 0.5px;
  --md-sys-typescale-label-medium-line-height: 16px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-letter-spacing: 0.1px;
  --md-sys-typescale-label-large-line-height: 20px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-letter-spacing: 0.4px;
  --md-sys-typescale-body-small-line-height: 16px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  --md-sys-typescale-body-medium-line-height: 20px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-letter-spacing: 0.5px;
  --md-sys-typescale-body-large-line-height: 24px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  --md-sys-typescale-headline-small-line-height: 32px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  --md-sys-typescale-headline-large-line-height: 40px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  --md-sys-typescale-display-small-line-height: 44px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  --md-sys-typescale-display-medium-line-height: 52px;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  --md-sys-typescale-display-large-line-height: 64px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-letter-spacing: 0.1px;
  --md-sys-typescale-title-small-line-height: 20px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  --md-sys-typescale-title-medium-line-height: 24px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  --md-sys-typescale-title-large-line-height: 28px;
}
